@font-face {
  font-family: 'Noto Sans JP';
  src: url('../font/Noto_Sans_JP/NotoSansJP-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Zen Maru Gothic';
  src: url('../font/Zen_Maru_Gothic/ZenMaruGothic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea{
  outline: 0;
}
button{
  cursor: pointer;
  border: none;
}
body{
  margin: 0;
  background: #f2f2f2;
}
a{
  text-decoration: none;
}
@media screen and (min-width: 768px) {
    .copy-213 {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      align-self: stretch;
      flex-wrap: nowrap;
      flex-shrink: 0;
      gap: 40px;
      position: relative;
      min-width: 0;
      padding: 16px 40px 32px 40px;
      background: #222222;
      z-index: 747;
      overflow: hidden;
    }
    .date-214 {
      flex-shrink: 0;
      flex-basis: auto;
      position: relative;
      height: 20px;
      color: #ffffff;
      font-family: 'Noto Sans JP', var(--default-font-family);
      font-size: 14.220000267028809px;
      font-weight: 300;
      line-height: 19.908px;
      text-align: left;
      white-space: nowrap;
      z-index: 748;
    }
    .sp_only{
      display: none;
    }
  }
  